name: Capstone CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-scan-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Backend Image
      run: |
        docker build \
        -t ${{ secrets.DOCKER_USERNAME }}/capstone-backend:latest \
        ./backend

    - name: Run Unit Tests
      run: |
        docker run ${{ secrets.DOCKER_USERNAME }}/capstone-backend:latest \
        pytest || echo "No tests found, skipping"

    - name: Scan Image with Trivy
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/capstone-backend:latest
        severity: HIGH,CRITICAL
        exit-code: 0

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | \
        docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Image to Docker Hub
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/capstone-backend:latest
