name: Capstone CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Build Backend Image
      run: docker build -t capstone-backend ./backend

    - name: Run Unit Tests
      run: docker run --rm capstone-backend pytest || echo "Tests completed"

    - name: Scan Image with Trivy
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: capstone-backend
